<div class="container">
<%= form_with model: blog do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <br>
    <%= form.text_field :title, :class=>"form-control"%>
    <% blog.errors.full_messages_for(:title).each do |message| %>
      <div class="text-danger"><%= message %></div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :body %>
    <br>
    <%= form.text_area :body,:class=>"form-control" %>
    <% blog.errors.full_messages_for(:body).each do |message| %>
      <div  class="text-danger"><%= message %></div>
    <% end %>
  </div>
  <div class="form-group">
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: @blog.status,:class=>"form-control" %>
  </div>
  <div>
    <%= form.submit :class=>"btn btn-success" %>
  </div>
  <div>

  </div>
    </div>
<% end %>