<h1 class="text-center">All Blogs</h1>
<!--<p>We have total <%#= Blog.public_count + Blog.private_count + Blog.archived_count %> blogs.</p>-->
<div class="container">
<div>
  <p>We have total <%= Blog.total_count %>
  <%if Blog.total_count == 1 || Blog.total_count == 0 %>blog
    <%else %>
    blogs
    <%end %>
    </p>
<ul>
  <% @blogs.each do |blog| %>
    <%# unless blog.archived?%>
  <li>
    <a href="<%= blog_path(blog) %>">
      <%= blog.title %>
    </a>
  </li>
      <%#end %>
  <% end %>
</ul>
</div>

<%= link_to "New Blog", new_blog_path,  :class => "btn btn-success btn-sm" %>
  <% if Blog.archived_count > 0 %>
    <%= link_to "Archived Blogs", archived_blogs_path,  :class => "btn btn-primary btn-sm" %>
<%end %>
</div>
