<div class="container">
  <h1>
    <%= @blog.title %>
  </h1>
  <p>
    <%= @blog.body %>
  </p>
  <p>
    <b>Status</b> : <%= @blog.status %>
  </p>
  <div class="row">
  <%= link_to "Edit", edit_blog_path(@blog), :class=>"col-md-2 btn btn-success" %>
    <%= button_to 'Delete',@blog, method: :delete, :class=>"col-md-2 btn btn-danger" , :onclick=>"return confirm('Are you sure you want to delete this item')" %>
    <%= link_to "Back to List", blogs_path,:class=>"col-md-2 btn btn-info"  %>
  </div>

</div>